
/*body*/
body {
    margin: 0;
    font-family: Arial

}
/* header */
header {
    text-align: left;
    font-size: 5em;
    background-image: url(../img/cssimg/header3.png);
    background-size: 100% 100%;
    margin: 0;
    padding: 0% 0% 10% 0%;
}

/* logo */
img{
    float: left;
    width: 12%;
    margin: 0% 3% 0% 3%;
}

/* menu */
#menu, #menu ul {
    padding : 0;
    margin : 0;
    list-style : none;
    text-align : center;
}

#menu{
    font-weight : bold;
    font-family : Arial;
    font-size : 15px;
    padding-top: 0.5%;
    border-bottom: 2px inset rgb(0,153,204);
}

#menu a  {
    display : inline-block;
    padding : 0;
    color : rgb(0,153,204);
    text-decoration : none;
    width : 100%;
}

.linav {
    display: inline-block;
    font-size: 1.3em;
    padding-left: 0px;
    width: 19.78%;
    text-align: center;
}

#menu li ul {
    position: absolute;
    width: 19.78%;
    left: -999em;
}

#menu li ul ul {

    margin    : -22px 0 0 144px ;
}

#menu li:hover ul ul, #menu li.sfhover ul ul{
    left: -999em;
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul{
    left: auto;
    min-height: 0;
}

#menu a {
    display: inline-block;
    padding : 0;
    color : rgb(0,153,204);

    text-decoration : none;
}

#menu a:hover {
    color : rgb(0,200,200);

}

/* div */

div {
overflow: auto ;
}
.bodywrap{
    width:80%;
    margin: 5% 10% 5% 10%;
}
.bodywrap h2{
     color : rgb(0,153,204);
}
.bodywrap img{
    width:50%;
    margin: 0% 30% 5% 20%;
}
.imgL{
    width:50%;
    max-height: 100px;
    margin: 0% 30% 5% 20%;
}
.Logement {
    margin: 2.5%;
    display: inline-flex;
    width: 95%;
}
.Logement h2{
    display: inline-block;
    width: 100%;%;
}
.Logement img{
    width:50%;
    float: none;
    margin: 2% 5% 0% 5%;
}
.image {
    display: inline-block;
    width:40%;
}
.bodywrap a{
     font-weight : bold;
     font-family : Arial;
     color : rgb(0,153,204);
     text-decoration : none;
 }

.compte{
    display: inline-block;
    width: 25%;
    margin-bottom: 2%;
}
.desc {
    overflow: hidden;
}
.descr a {
    font-weight: bold;
    font-family: Arial;
    color: white;
    text-decoration: none;
    background: rgb(0, 153, 204);
    padding: 1%;
    border-radius: 25px;
}
.TB{
    width:50%;
    margin:0% 25% 0% 25%;
}

.footer {
    padding: 40px 0 10px 0;

}
.footer {
    background: #565656;
    line-height: 24px;
    padding: 0 0 10px;
}

footer {
    display: block;
}


footer{
    display: inline-block;
    width: 100%;
    background : rgb(0,153,204);
}
.liste{
    display: inline-block;
    width: 70%;
    margin: 2% 15% 5% 15%;
    border-bottom: 2px solid white;
}

.liste div{
    display: inline-block;
    width: 30%;
    margin: 0% 4%
}
footer img{
    float: none;
    width: 15%;
}

h1{
    color: white;
}
.liFooter a{
    font-weight : bold;
    font-family : Arial;
    color : white;
    text-decoration : none;
}
ul{
list-style : none;

}
.liFooter a:hover {
    color : lightsteelblue;
}

@media screen and (max-width: 800px){

    .compte{
        display: inline-block;
        width: 50%;
        margin-bottom: 2%;
    }
    footer{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .compte{
        display: inline-block;
        width: 100%;
        margin-bottom: 2%;
    }
    .linav {
        display: inline-block;
        font-size: 1.3em;
        padding-left: 0px;
        width: 30%;
        text-align: center;
    }
    header {
        text-align: left;
        font-size: 5em;
        background-image: url(../img/cssimg/header3.png);
        background-size: 100% 100%;
        margin: 0;
        padding: 0% 0% 15% 0%;
    }
    img{
        float: left;
        width: 20%;
        margin: 0% 40% 0% 40%;
    }
    .Logement {
        margin: 2.5%;
        display: block;
        width: 95%;
    }
    .Logement h2{
        display: block;
        width:100%;
    }
    .Logement img{
        width:50%;
        float: none;
        margin: 2% 5% 0% 5%;
    }
    .image {
        display: block;
        width: 100%;
        margin: 0% 25%;
    }
    div{
        overflow:hidden;
    }

    .imgL{
        width:50%;
        max-height: 200px;
        margin: 0% 30% 5% 20%;
    }


}